@font-face {
  font-family: 'Poppin';
  src: url('/fonts/poppin/Poppin-Regular.ttf') format('truetype'),
       url('/fonts/poppin/Poppin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}
